# Dependencias y builds
node_modules
dist
dist-ssr
*.local

# Variables de entorno 
.env
.env.production
.env.local

# Logs
logs
*.log
npm-debug.log*

# IDEs y SO
.vscode/
.idea/
.DS_Store
*.swp

#modulos
node_modules
.env
dist
build
.DS_Store