@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #0a0510;
  color: #e2e8f0;
  overflow-x: hidden;
}

/* Scrollbar personalizada para que combine */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0510;
}
::-webkit-scrollbar-thumb {
  background: #312e81;
  border-radius: 10px;
}